@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
var memberActiveService =
ApplicationContext.Current.Services.MemberService;

var activeMembers = memberActiveService.GetMembersByGroup("Active");

}
<h1>Active Members</h1>
<div class="display-flex">
@foreach (var member in activeMembers) {
<div class="member-container">
    @(member.GetValue("firstname") + " "
    + member.GetValue("lastname")) <br/>
    @member.GetValue("address")<br />
    @(member.GetValue("zip") + " "
    + member.GetValue("city"))
    Mobile: @member.GetValue("mobile")<br />
   @{
        string fullPath = member.GetValue("photo").ToString();
        string[] substrings = fullPath.Split(',');
        string srcString = substrings[2];
        string[] srcSubStrings = srcString.Split(':');
        string srcPath = srcSubStrings[1].Replace("\"", "");
        srcPath = srcPath.Replace("}", "");
    }
       <img class="img-responsive" src="@srcPath" style="width:100px;height:100px;" />
</div>
}
</div>
<h1>Prospect Members</h1>
<div class="display-flex">
@{
var memberProspectService =
ApplicationContext.Current.Services.MemberService;

var prospectMembers = memberProspectService.GetMembersByGroup("Prospect");
}

@foreach (var member in prospectMembers) 
{
<div class="member-container">
    @(member.GetValue("firstname") + " "
    + member.GetValue("lastname")) <br/>
    @member.GetValue("address")<br />
    @(member.GetValue("zip") + " "
    + member.GetValue("city"))
    Mobile: @member.GetValue("mobile")<br />
</div>
}
</div>